#menu_bar{
    display: none;
}
.menuBar_option{
    position: fixed;
    background-color: #ffffff;
    top: 0;
    right:  0;
    overflow-x: auto;
    overflow-y: auto;
    border-left: 1px solid rgb(235, 235, 235);
    box-shadow: 0px 0px 10px 0px rgb(228, 228, 228);
    animation: AnimacionBarOpen  0.8s;
}
@keyframes AnimacionBarOpen{
from{
    right: -300px;
}to{
    right: 0;
}
}
.remove_bar_menu{
    animation: AnimacionBarClose  0.8s;

}
@keyframes AnimacionBarClose{
    to{
        right: -300px;
        opacity: 1;
    }from{
        right: 0;
        opacity: 0;
    }
}
@media (max-width : 800px) {
    #menu_bar{
        display: block;
    }
    .menu_option{
        display: none;
    }
}

@media (max-width : 530px) {
    .menu_autenticacion{
        display: none;
    }
}

/**/
.ventana_login{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0; /* Asegúrate de que el contenedor esté alineado al borde izquierdo */
    background-color: rgba(243, 243, 243, 0.226);
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    display: none;
}
.CerrarLogin{
 display: none;
}
.AbrirLogin{
    display: flex;
   }